body {
    background-color: white;
    /*to center the whole weather box*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather {
    background-color: rgb(244, 244, 244);

    display: flex;
    flex-direction: column;
    max-width: fit-content;

    border-color: rgb(244, 244, 244);
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
}

#currentWeather {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

#moreWeather {
    display: flex;
    justify-content: center;

}

div.more {
    background-color: #e0e0e0;
    border: 2.5px solid #e0e0e0;
    border-radius: 10px;
    padding-left: 10px;
    width: 50%;
    margin: 5px;
}

img {
    max-width: 150px;
    padding: 15px;
}

h1 {
    font-size: 24px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
}

h2 {
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
}

p#temp {
    font-size: 36px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
}

p#appTemp {
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
}

p.more {
    font-size: 16px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}