@font-face {
    font-family: "ElinaWeather";
    src: url("https://moon-elxna.github.io/weather-berlin/font/Elinaweather-Regular.ttf") format("truetype");
    font-display: block;
}


body {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}



#app {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-top: 10px;
    padding: 12.5px;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;

}


div#searchResultsSelection {

    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

div#cityCountry0 {
    grid-area: 1 / 1 / 2 / 2;
}

div#cityCountry1 {
    grid-area: 1 / 2 / 2 / 3;
}

div#cityCountry2 {
    grid-area: 2 / 1 / 3 / 2;
}

div#cityCountry3 {
    grid-area: 2 / 2 / 3 / 3;
}

div#cityCountry4 {
    grid-area: 3 / 1 / 4 / 2;
}

div#cityCountry5 {
    grid-area: 3 / 2 / 4 / 3;
}

div#cityCountry6 {
    grid-area: 4 / 1 / 5 / 2;
}

div#cityCountry7 {
    grid-area: 4 / 2 / 5 / 3;
}

div#cityCountry8 {
    grid-area: 5 / 1 / 6 / 2;
}

div#cityCountry9 {
    grid-area: 5 / 2 / 6 / 3;
}


/* Make all direct children of #searchResultsSelection stretch to full width */
div#searchResultsSelection>* {

    width: 100%;
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
    height: min-content;
    font-size: 15px;
    font-weight: normal;
    font-family: "ElinaWeather";
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    /* Make it look clickable */

    /* Optional: Add hover effect */
    transition: background-color 0.2s;

}

#weather1 {
    display: flex;
    flex-direction: row;


}

#currentWeather {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

#moreWeather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#more1 {
    grid-area: 1 / 1 / 2 / 2;
}

#more2 {
    grid-area: 1 / 2 / 2 / 3;
}

#more3 {
    grid-area: 2 / 1 / 3 / 2;
}

#more4 {
    grid-area: 2 / 2 / 3 / 3;
}


div.more {

    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;

}

img {
    max-width: 150px;
    padding: 15px;
}

h1 {
    font-size: 35px;
    margin-left: 20px;
    margin-top: 0px;
    font-family: "ElinaWeather";
}

h2 {
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: -10px;
    font-family: "ElinaWeather";
}

input {
    font-size: 20px;
    font-weight: normal;
    font-family: "ElinaWeather";
    display: inline-block;
    width: fit-content;
}

button#btn1 {
    font-size: 20px;
    font-weight: normal;
    font-family: "ElinaWeather";
}

button.cityCountry {
    font-size: 15px;
    font-weight: normal;
    font-family: "ElinaWeather";
    width: 100%;
    padding: -10px;
}

p.cityName {
    padding: 0px;
}


p {
    color: black;
    font-family: "ElinaWeather";
}


p#temp {
    font-size: 36px;
    font-weight: bolder;
    margin-left: 20px;
}

p#appTemp {
    font-size: 22px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: -20px;

}

p.more {
    font-size: 18px;
}

p.moreTitle {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 700px) {
    #weather1 {
        display: flex;
        flex-direction: column;

    }

    div#searchResultsSelection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

    div#cityCountry0 {
        grid-area: 1 / 1 / 2 / 2;
    }

    div#cityCountry1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    div#cityCountry2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    div#cityCountry3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    div#cityCountry4 {
        grid-area: 5 / 1 / 6 / 2;
    }

    div#cityCountry5 {
        grid-area: 6 / 1 / 7 / 2;
    }

    div#cityCountry6 {
        grid-area: 7 / 1 / 8 / 2;
    }

    div#cityCountry7 {
        grid-area: 8 / 1 / 9 / 2;
    }

    div#cityCountry8 {
        grid-area: 9 / 1 / 10 / 2;
    }

    div#cityCountry9 {
        grid-area: 10 / 1 / 11 / 2;
    }

}